{% extends "base.html" %}

{% block title %}Event Details{% endblock %}

{% block content %}
  <div class="content-box p-3 border mb-4">
      <h1>Event Details</h1>
      <img src="{{ url_for('static', filename='Images/coldplay.jpg') }}" class="mx-auto d-block" style="width: 600px; height:300px"><br>

      <div class="row">
          <div class="col">
              <h2>Coldplay Music of the Spheres - Open</h2>
              <p><strong>7 November 2025</strong></p>

              <p><strong>Event description:</strong></p>
              <div class="border p-3 mb-4" style="background-color: #f8f9fa;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              </div>

              <p><strong>Location</strong></p>
              <div class="border p-3" style="background-color: #f8f9fa;">
                  The Gabba
              </div>
          </div>
          <div class="col">
              <p>Ticket Price: $423.08</p>
              <a href="/">
                  <button class="btn btn-secondary w-100 mb-4">Buy Tickets</button>
              </a>

              <div class="border p-3 py-4" style="background-color: #f8f9fa;">
                  Event Tags<br>#coldplay
              </div>
          </div>
      </div>
  </div>
{% endblock %}